@font-face {
  font-family: DIN;
  src: url("DIN.otf");
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 100%;
	line-height: 1.5;
  height: auto;
  margin: 0 auto;
  color: #001028;
  background: #FFFFFF;
  font-family: DIN;
  font-size: 13px;

}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;

}

#logo img {
  width: 50px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
	    padding-bottom: 14px;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(dimension.png);
}

#project {
  float: right;
	direction: rtl;
	margin-right: 10px;
	  font-family: DIN;
}
#project2 {
  float: left;
	direction: rtl;
	margin-right: 10px;
	  font-family: DIN;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-left: 39px;
  display: inline-block;
  font-size: 0.8em;
}
#project2 span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-left: 39px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: left;
  text-align: right;
	margin-left: 10px;
}
#project div,
#project div,
#company div {
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  font-weight: normal;
}

table .service,
table .desc {
  text-align: right;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}


table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
#notices{

	text-align: right;
}
.total{

	direction: rtl !important ;
}
.unit{

	direction: rtl !important ;
}
.signature{
	padding-bottom: 21px;
    margin-bottom: 57px;
}
